pipeline/TestDataflows.json
{
	"name": "TestDataflows",
	"properties": {
		"activities": [
			{
				"name": "Get New Precincts",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "VoterDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": ";WITH CTE as (\nselect distinct prsid PRECINCT\nfrom wrkRawVoterData)\n\nSELECT COUNT(*) Recs\nfrom CTE t1 \nLEFT JOIN tblPrecincts t2 on t1.PRECINCT = t2.PRSID-- and t1.PRECINCT_SP = t2.PRECINCT_SP\nWHERE t2.PRECINCT IS NULL\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get New Precincts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PREC_COUNT",
					"value": {
						"value": "@activity('Get New Precincts').output.firstRow.Recs",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"PREC_COUNT": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"annotations": []
	}
}